@using EPUWeb.Areas.Admin.Models
@model LoginModel
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta title="Quản trị viên - Đại học điện lực" />
    <title>Quản trị viên - Đại học điện lực</title>
    @*<!-- Bootstrap -->
    <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="../vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- Animate.css -->
    <link href="../vendors/animate.css/animate.min.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="../build/css/custom.min.css" rel="stylesheet">*@
    @Styles.Render("~/Admin/login/css")
</head>
<body class="login">
    <div>
        <a class="hiddenanchor" id="signup"></a>
        <a class="hiddenanchor" id="signin"></a>
        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, null, new {@class="alert alert-danger"})
                        <h1>Đăng nhập</h1>
                        <div>
                            @*<input type="text" class="form-control" placeholder="Username" required="" />*@
                            @Html.TextBoxFor(model => model.UserName, new {@class = "form-control", @placeholder="Tên đăng nhập" })
                        </div>
                        <div>
                            @*<input type="password" class="form-control" placeholder="Password" required="" />*@
                            @Html.TextBoxFor(model => model.Password, new { @class = "form-control", @placeholder = "Mật khẩu", @type = "password" })
                        </div>
                        <div>
                            @Html.CheckBoxFor(model => model.RememberMe, new { @class = "form-control", @type = "checkbox" })
                        </div>
                        <div>
                            <button type="submit" class="btn btn-default submit">Đăng nhập</button>
                            <a class="reset_pass" href="#signup">Quên mật khẩu?</a>
                        </div>
                        <div class="clearfix"></div>
                        <div class="separator">
                            @*<p class="change_link">
                                New to site?
                                <a href="#signup" class="to_register"> Create Account </a>
                            </p>*@
                            <div class="clearfix"></div>
                            <br />
                            <div>
                                @*<h1><i class="fa fa-paw"></i> Gentelella Alela!</h1>*@
                                <p>©2011 - 2017 All Rights Reserved. Đại học Điện Lực</p>
                            </div>
                        </div>
                    }
                </section>
            </div>
            <div id="register" class="animate form registration_form">
                <section class="login_content">
                    <form>
                        <h1>Quên mật khẩu</h1>
                        @*<div>
                            <input type="text" class="form-control" placeholder="Username" required="" />
                        </div>*@
                        <div>
                            <input type="email" class="form-control" placeholder="Email" required="" />
                        </div>
                        @*<div>
                            <input type="password" class="form-control" placeholder="Password" required="" />
                        </div>*@
                        <div>
                            <a class="btn btn-default submit" href="index.html">Submit</a>
                        </div>
                        <div class="clearfix"></div>
                        <div class="separator">
                            <p class="change_link">
                                Already a member ?
                                <a href="#signin" class="to_register"> Log in </a>
                            </p>
                            <div class="clearfix"></div>
                            <br />
                            <div>
                                @*<h1><i class="fa fa-paw"></i> Gentelella Alela!</h1>*@
                                <p>©2011 - 2017 All Rights Reserved. Đại học Điện Lực</p>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</body>
</html>
